h1, h2, h3, h4, h5, h6 {
font-family: 'Raleway', sans-serif;
}
p, div {
font-family: 'Lato', sans-serif;
}
.nav-header-text{
font-family: 'Raleway', sans-serif;
}
.color-primary{
background-color: #3557f6;
}
.color-secondary{
    background-color: #be7ff7;
}
.linkedin-icon {
  color: #0077B5;
}
.profile-pic {
  width:100%;
}
a.icon-link {
  color:black;
  text-decoration: none;
}
